.blogbanner{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.mainblogcontainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: poppins-semibold, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

@media screen and (max-width:600px){
    .blogbanner{
        width: 100%;
        height: 150px;
    }
}

@media screen and (min-width:602px) and (max-width:1070px) {
    .blogbanner{
        width: 100%;
        height: 200px;
    }
}