* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #fff;
  color: #111;
  position: relative;
  z-index: 999;
  font-family: poppins-semibold, sans-serif;
  font-size: 16px;

}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Desktop menu */
.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* Menu items */
.menu li {
  cursor: pointer;
}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  background: none;
  color: 111;
  font-size: 1.9rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-image: url('./assets/other_images/pan.jpg');
    flex-direction: column;
    width: 100%;
    padding: 16px 0;
    gap: 18px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 0;

    /* CLOSED STATE */
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  /* OPEN STATE */
  .menu.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
