body {
    margin: 0;
    /* font-family: 'Nunito', sans-serif; */
    overflow-x: hidden;
    height: 100%;
    color: black;
}

/* HOME SECTION */
.centralContainer {
    color: white;
}

.topbeforenav {
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003161;
}

.firstnav {
    width: 15vw;
    display: flex;
    align-items: center;
}

.firstnav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstnav ul li {
    list-style: none;
    cursor: pointer;
}

.topsocials {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}

.topsocials img {
    cursor: pointer;
}

.topsocials img:hover {
    background-color: red;
}

.logoandmainnav {
    width: 100vw;
    height: 60px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logoandmainnav ul {
    display: flex;
    align-items: center;
    margin-right: 70px;
    justify-content: space-between;

}

.logoandmainnav ul li {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-family: poppins-semibold, sans-serif;
    -webkit-font-smoothing: antialiased;
    list-style: none;
}

.logoandmainnav ul li:hover {
    color: rgb(71, 71, 242);
}

.logoandmainnav ul a {
    text-decoration: none;

}

.backgroundimage {
    background-image: url('./assets/other_images/bgimage.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
    background-attachment: fixed;
}

.belowslides {
    width: 100vw;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nextsection {
    background-color: #003161;
    color: white;
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
}

.nextsection img {
    width: 40vw;
    height: 420px;
    border-radius: 10px;
    border: 4px solid #fff;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.9),
        0 0 8px rgb(0, 255, 255, 0.8),
        0 0 16px rgb(0, 255, 255, 0.6),
        0 0 24px rgb(0, 255, 255, 0.4);
}

#shim {
    background-color: #003161;
}

#shim:hover {
    background-color: white;
}

.nextsectiontext {
    width: 30vw;
    height: 400px;
    font-size: 18px;
    line-height: 1.5;
    margin-right: 350px;
    margin-top: 100px;
    font-family: poppins-semibold, sans-serif;
}

/* IMAGE CARD AREA */

.imagelinkdesign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 5px;
}

.imagecard-container {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-card {
    position: relative;
    width: 400px;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: poppins-semibold, sans-serif;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: scale(1.1);
    transition: transform 0.6s ease
}

.image-card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.6s ease;
}

/* text area */
.image-card .text-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translateY(0);
    transition: transform 0.6s ease;
}

.image-card .text-box h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

.image-card .text-box p {
    margin: 0;
    font-size: 14px;
}

/* hover effect */
.image-card:hover img {
    transform: scale(1);
}

.image-card:hover .overlay {
    background: rgba(0, 0, 0, 0.1);
}

.image-card:hover .text-box {
    transform: translateY(-10px)
}

/* END IMAGE CARD AREA */

/* who we are */
.whweare {
    background-color: #003161;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whereinner {
    width: 60%;
    font-family: poppins-semibold, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* end who we are */

.darkerline {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 30px;
}

.innergray {
    width: 70%;
    display: flex;
}

#seconeone {
    background-color: gray;
}

#innerglow {

    margin-right: 50px;
}

/* open space content */
.belowslides {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.insidecontent {
    width: 80%;
}

.openspace-content {
    width: 30%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
    transition: background-color 0.6s ease;

}

.openspace-content:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.openspace-content button {
    background-color: #12f3d5;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.6s ease;

}

.openspace-content button:hover {
    background-color: #6fdcce;
    border: 1px solid yellow;
    transform: translateY(-10px)
}

/* end open space content */
/* Book a consultation */
.infoclass {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 30px 30px 30px 150px;
    font-family: poppins-semibold, sans-serif;
}

.infoclass h3 {
    font-size: 20px;
    margin-right: auto;
}

.contactdetails {
    display: flex;
    flex-direction: column;
}

.firstinfo img {
    width: 25px;
    height: 20px;
    margin-right: 20px;
}

.firstinfo {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-bottom: 15px;
}

/* End Book a consultation */

.consultcenter {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
}

.theFormSection {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 30px;
    margin-right: auto;
}

.Formarea {
    width: 50%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    margin-right: 70px;
}

.innerform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
}

.innerform input {
    width: 40%;
    height: 20px;
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.theform {
    display: flex;
    margin-bottom: 20px;
}

.flatline {
    width: 70px;
    height: 3px;
    border: none;
    background: linear-gradient(90deg, #003161, white, #003161);
}

.innerform textarea {
    width: 83%;
    height: 50px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.submitbtn {
    width: 84%;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 20px;
}

.closesection {
    width: 100%;
    background-color: gray;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.closesection img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.9),
        0 0 8px rgb(0, 255, 255, 0.8),
        0 0 16px rgb(0, 255, 255, 0.6),
        0 0 24px rgb(0, 255, 255, 0.4);
}

.closetext {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 15px;
    font-family: poppins-semibold, sans-serif;
}

.sectionbutton {
    width: 120px;
    height: 40px;
    border: 1px solid #12f3d5;
    border-radius: 5px;
    background-color: gray;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.sectionbutton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;

}

/* END HOME SECTION */


/* ABOUT US SECTION */
.aboutTop {
    width: 100%;
    height: 500px;
    padding: 40px;
    background-color: #F5F5F0;
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
}

.aboutTop img {
    width: 450px;
    height: 500px;
    border-radius: 10px;
    margin-right: 45px;
}

.topContaoner {
    display: flex;
}

.abouttoptext {
    width: 40%;
    color: black;
    font-family: poppins-semibold, sans-serif;
}

.abouttoptext h3 {
    font-size: 20px;
}

.abouttoptext p {
    line-height: 1.5;
    color: black;
}

.abtsecondlayer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #003161;
    color: white;
}

.innerbbtContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0 20px 0;
}

.dipo {
    width: 45%;
}

.innerbbtContainer h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-family: poppins-semibold, sans-serif;
}

.innerbbtContainer p {
    font-family: poppins-semibold, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: black;
}

.serviceContaind {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:600px) {
    .serviceContaind {
        display: flex;
        flex-direction: column;
    }

    .dipo {
        width: 100%;
    }

    .innerbbtContainer {
        display: flex;
        flex-direction: column;
    }
}

/* END ABOUT US SECTION */

/* SERVICES PAGE */
.servicebanner {
    width: 100vw;
    height: 600px;
    margin-bottom: 0;
}

.upperservicelayer {
    background-color: #F7F5EB;
}

.serviceLayer {
    width: 89%;
    height: fit-content;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: poppins-semibold, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.serviceLayer h3 {
    font-size: 20px;
}

.serviceLayer h4 {
    margin-bottom: -5px;
}

.serviceLayer p {
    margin-bottom: 30px;
    font-weight: 100;
    color: black;
}

.servicesections {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.servicebuttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.servicebuttons button {
    border: none;
    cursor: pointer;
    background-color: #F7F5EB;
    font-size: 16px;
    height: 40px;
}

.servicebuttons button:hover {
    color: black;
    border-bottom: 3px solid #12f3d5;
}

.servicebuttons button.boddy {
    color: blue;
    border-bottom: 3px solid #12f3d5;
}

.aspirinImage {
    width: 100%;
}

@media screen and (max-width:600px) {
    .servicebanner {
        width: 100%;
        height: 400px;
    }
}


/* END SERVICES PAGE */





/* FOOTER SECTION */
.footersection {
    background-color: #003161;
    width: 100%;
    height: 400px;
}

.innercontainer {
    display: flex;
}

.catchlinestar {
    width: 25%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(232, 229, 223);
    font-family: poppins-semibold, sans-serif;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;

}

.catchlinestar img {
    width: 150px;
    height: auto;
}

.catchlinestar h5 {
    font-size: 14px;
    text-align: center;
    margin-top: -20px;
    color: gray;
}

@media screen and (max-width: 600px){
    .theFormSection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .consultcenter{
        height: fit-content;
        margin-bottom: 80px;
    }
    .infoclass{
        width: 100%;
    }
    .Formarea{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .footersection{
        width: 100%;
        height: fit-content;
    }
    .innercontainer{
        display: flex;
        flex-direction: column;
    }
    .catchlinestar{
        width: 100%;
    }
    .footerlinknav{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
/* END FOOTER SECTION */