body{
  /* background-color: #76ABAE; */
  /* background-color: #005FA5; */
}

.scroller{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px, 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
  width: 50px;
  height: 50px;
}

@media screen and (max-width:768px){
  .scroller{
    width: 40px;
    height: 40px;
  }
}